{% extends "home.html" %}
{% block body %}
<h1>Enter details to Predict Cancer</h1>

<form action="/predict" method="post" class='form-inline'>
  <div class="form-row">
    <div class='form-group col'>
      <label for="meanRadiusId">Mean Radius:</label>
      <input class="form-control" id="meanRadiusId" name="meanRadius">
    </div>
    <div class='form-group col'>
      <label for="meanTextureId">Mean Texture:</label>
      <input class="form-control" id="meanTextureId" name="meanTexture">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
{% endblock %}